---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import { YouTube } from 'astro-embed';

export async function getStaticPaths() {
  const videos = await getCollection('video');
  return videos.map((video) => ({
    params: { slug: video.data.slug },
    props: video,
  }));
}
type Props = CollectionEntry<'video'>;

const video = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image lite-youtube {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
        text-align: center;
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }

      .videoDescr {
        white-space: pre-line;
      }

      h5 a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgb(var(--gray-dark));
      }
      h5 a:hover {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="hero-image">
          <YouTube id={video.data.videoId} posterQuality="max" />
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={video.data.publishedAt} />
            </div>
            <h1>{video.data.videoTitle}</h1>
            <hr />
          </div>
          <p class="videoDescr">{video.data.videoDescription}</p>

          {video.data.organizations.length > 0 && <h4>Organizations</h4>}
          <ul>
            {
              video.data.organizations.map((org) => (
                <li key={org.id}>
                  <h5>
                    <a
                      href={`/organization/${org.id}`}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <img
                        src={org.logoImage}
                        alt={org.orgTitle}
                        width={100}
                        height={100}
                        loading="lazy"
                      />
                      &nbsp;
                      {org.orgTitle}
                    </a>
                  </h5>
                </li>
              ))
            }
          </ul>

          {video.data.presenters.length > 0 && <h4>Presenters</h4>}
          <ul>
            {
              video.data.presenters.map((person) => (
                <li key={person.id}>
                  <h5>
                    <a
                      href={`/presenter/${person.id}`}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <img
                        src={person.imageUrl}
                        alt={person.presenterName}
                        width={100}
                        height={100}
                        loading="lazy"
                      />
                      &nbsp;
                      {person.presenterName}
                    </a>
                  </h5>
                </li>
              ))
            }
          </ul>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
